<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<h3> Number of products: <%= @number_of_products %> </h3>
<h3> Number of categories: <%= @number_of_categories %> </h3>
